*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color:white;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../image/Header1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: centre;
    background-repeat: no-repeat;
}
.row{
    max-width: 1180px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    color:#ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100px;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display:block;
    height: 0px;
    clear: both;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: #ffff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: lighter;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn-nav{
    background-color: transparent;
    color: #ffff;
    margin-right: 15px;
    border: 1px solid #ffff;
}
.btn-full:hover{
    background-color: #ffff;
}
.btn-nav:hover{
    background-color: #bf55ec;
}
.colorchange{
    animation: colorchangeneo 1s infinite;
}
@keyframes colorchangeneo{
    0%{color: red;}
    25%{color: #bf55ec}
    50%{color: white}
    100%{color: #bf55ec}
}
.mob-icon{
    display: none;
}
@media only screen and (max-width: 1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}
@media only screen and (max-width: 998px){
    h1{
        font-size: 200%;
    }
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 180%;
    }
    .main-nav{
        display: none;
    }
    .mob-icon{
        display: inline-block;
        color: white;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav li{
        display: block;
        margin-top: 10px;
    }
    .main-nav{
        float: left;
    }
}